<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <script>
        var perfEntries = performance.getEntriesByType("navigation");
        if (perfEntries[0].type === "back_forward") {
          // location.reload(true);
          location.href ="{% url 'blog:delete_all_categories' %}"
        }
      </script>
        <h1>CREATE POST</h1>
        <form method="GET" id="loginForm">
          #<input  id='add' name='add' type="CATEGORY" placeholder="CATEGORY">
          <input type="submit" class="btn-2" value="add cat" >
        </form>
        <div class="col-lg-3 mx-auto">
          <div class="list-group">
            {% if data %}
              {% for category in data %}
              <p>{{category}}<a href="{% url 'blogapp:delete_category' value=category %}">delete</a></p>
              {% endfor %}
            {% endif %}
          </div>
        </div>
        <form method="POST" id="loginForm">
            {% csrf_token %}
            <p>{{form.title.label}}: {% render_field form.title %}</p>
            <p>{{form.author.label}}: {% render_field form.author %}</p>

            <p>{{form.category.label}}: {% render_field form.category %}</p>
            <p>{{form.body.label}}: {% render_field form.body %}</p>
            <button type="submit">Create Post</button>
        </form>
    </div>
  </body>
</html>
