<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>EDIT POST</title>
  </head>
  <body>
    <h1>edit POST</h1>
    <form class="user"  method="post" id="loginForm">
        {% csrf_token %}
        <p>{{form.title.label}}: {% render_field form.title %}</p>
        <p>{{form.author.label}}: {% render_field form.author %}</p>
        <p>{{form.category.label}}: {% render_field form.category %}</p>
        <p>{{form.body.label}}: {% render_field form.body %}</p>
        <button type="submit">Edit Post</button>
    </form>
  </body>
</html>
